@model List<AnimalRescue.Web.ViewModel.Event_SponsorshipLevelViewModel>
@{
	ViewBag.Title = "Sponsorships";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

<div class="main-container">
	<div class="container1">
		<div id="header1">
			<p id="tagline1">
				<strong>Event Sponsorships</strong>
			</p>
		</div>

		<p>
			@Html.ActionLink("Create New", "SponsorshipAdd")
		</p>
		<table>
			<tr>
				<th>ID
				</th>
				<th>Name
				</th>
				<th>Description
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
   {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SponsorID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SponsorshipLevelType)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
					</td>
				</tr>
   }
		</table>
	</div>
</div>
