@model IEnumerable<HuskyRescue.Core.ViewModel.Store.ProductProperty>

@{
	ViewBag.Title = "PropertyIndex";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

<h2>Product Properties</h2>

<p>
	@Html.ActionLink("Create New", "PropertyCreate")
</p>
<table>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.IsPublic)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Value)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.IsPublic)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Value)
			</td>
			<td>
				@Html.ActionLink("Edit", "PropertyEdit", new { id = item.Id })
			</td>
		</tr>
 }

</table>
